<plugin name='maprest' version='0.0.2' grailsVersion='2.2 &gt; *'>
  <author>Jon DeJong</author>
  <title>Maprest Plugin</title>
  <description>Brief summary/description of the plugin.
</description>
  <documentation>http://grails.org/plugin/maprest</documentation>
  <type>MaprestGrailsPlugin</type>
  <resources>
    <resource>maprest.MaprestController</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies />
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>